/*all three pages*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

body{
  background-color: rgb(164, 113, 209);
}

#wrapper {
  width: 920px;
  background-color: rgba(255, 255, 255, 0.5);
  border-style: inset;
  border-color: rgb(119, 21, 199);
  margin: 0 auto 50px auto;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  height: 450px;
  width: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'Press Start 2P';
  text-align: center;
  font-size: 4em;
}

h2, h3, h4, h5 {
  font-family: 'Press Start 2P';
  text-align: center;
}

p {
  font-family: 'Source Code Pro';
  text-align: center;
}

li {
  font-family: 'Source Code Pro';
}

#nav {
  background-color: rgb(192, 99, 193);
  overflow: hidden;
}
  
#nav-contain {
  float: left;
  width: 100%;
  position: relative;
}
  
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
  
#nav ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: 'Press Start 2P';
}
  
#nav ul li a {
  display: block;
  padding: 10px 20px;
  color: rgb(78, 45, 168);
}
  
#navb ul li a:hover {
  background-color: rgb(78, 45, 168);
  color: white;
  text-shadow: 0 0 15px #763ea7, 0 0 25px #974ada, 0 0 35px #984adc;
  font-weight: bold;
}

#current_page{
  color: #fff;
  text-shadow: 0 0 15px #763ea7, 0 0 25px #974ada, 0 0 35px #984adc;
}

.images{
  height: 400px;
  float: none;
  position: relative;
  align-items: center;
  margin-top: 10px;
}

video {
  height: 700px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img:hover {
  border: 10px rgb(196, 171, 239) solid;
  height: 400px;
  width: auto;
  transition: height 1s, width 1s;
  transition-timing-function: ease-out;
}

/*Welcome*/
#welcome_background {
  background-image: url(../media/welcome_background2.jpg);
  background-size: cover;
}

.cat:hover {
  transform: rotate(-13deg);
}

/*Resume*/
#resume_background {
  background-image: url(../media/resume_background3.jpg);
  background-size: cover;
}

#contact-info {
  text-align: center;
  border-style: inset;
  border-color: rgb(99, 136, 230);
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 10px;
  background: rgba(86, 36, 166, 0.4);
  transition: all .2s ease-in-out; 
}

#contact-info:hover { 
  transform: scale(1.1); 
}

/*Chicago Street Art*/
#streetart_background {
  background-image: url(../media/street_art_background.jpg);
  background-size: cover;
}
#streert_art_wrapper {
  width: 920px;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: inset;
  border-color: rgb(119, 21, 199);
  margin: 0 auto 50px auto;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.be_kind {
  height: 600px;
  float: none;
  position: relative;
  align-items: center;
  margin-top: 10px;
}

.be_kind:hover {
  border: 10px rgb(196, 171, 239) solid;
  height: 600px;
  width: auto;
  transition: height 0.5s, width 0.5s;
  transition-timing-function: ease-out;
}

.neonText {
  font-family: 'Neonderthaw';
  text-align: center;
  font-size: 4em;
  color: #e9cfff;
  text-shadow: 0 0 15px #763ea7, 0 0 25px #974ada, 0 0 35px #984adc;
}

.parent {
  display: grid;   
  gap: 5px;
  /*align-items: center;*/  
  place-items: center; 
}

#street_p {
  font-family: 'Source Code Pro', cursive;
  text-align: center;
  color: #ceb0e9;
}

